<configuration>
  <Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
    <ElementActionProviderPlugins>
      <add name="CompositeC1Contrib.Email.GoogleAnalytics" type="CompositeC1Contrib.Email.GoogleAnalytics.GoogleAnalyticsActionProvider, CompositeC1Contrib.Email.GoogleAnalytics" />
    </ElementActionProviderPlugins>
  </Composite.C1Console.Elements.Plugins.ElementActionProviderConfiguration>
</configuration>